{% extends 'administracao/base.html' %}
{% load csstags %}
{% block content %}
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}success{% endif %} alert-dismissable">
          <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
              {{ message }}
          <a class="alert-link" href="#"></a>.
      </div>
     {% endfor %}
   {% endif %}
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i> Mural de mensagens
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <ul class="timeline">
          {% for result in results %}
            <li {% if request.user.email == result.sender.email %}class="timeline-inverted"{% endif %}>
                <div class="timeline-badge"><i class="fa fa-check"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Mensagem Padrão</h4>
                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{ result.date|print_timestamp }} para {{ result.user_type_destination.group }}</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>{{ result.message }}</p>
                    </div>
                </div>
            </li>
          {% endfor %}
        </ul>
    </div>
    <!-- /.panel-body -->
</div>
{% endblock %}
