{% extends 'administracao/base.html' %}
{% load static %}
{% load csstags %}
{% block content %}

<div class="col-lg-12">
   <h1 class="page-header">Nova mensagem</h1>
   <form role="form" method="post" enctype="multipart/form-data">
       {% csrf_token %}
       <fieldset>
       {{ form.non_field_errors }}
       {% for field in form %}
         <div class="form-group">
             {{ field.label_tag}}
             {{field |addcss:"form-control"}}
             {{ field.errors}}
         </div>
       {% endfor%}
       <button type="submit" class="btn btn-lg btn-info">Enviar</button>
   </form>
</div>


{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/utils.js' %}"></script>
<script type="text/javascript">
    $('#id_institution').change(function(){
        url = "{% url 'administracao:institutions_programs' 0 %}".replace(0, this.value);
        $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            success: function (data) {
                helpers.buildDropdown(
                      data.programs,
                      $('#id_program'),
                      'Selecione o Curso',
                      'id',
                      'abbreviation'
                  );
            }
        });
    });

    $('#id_program').change(function(){
        url = "{% url 'administracao:programs_course_sections' 0 %}".replace(0, this.value);
        $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            success: function (data) {
                helpers.buildDropdown(
                      data.programs_course_sections,
                      $('#id_course_section'),
                        'Selecione a Turma',
                        'id',
                        'description'
                  );
            }
        });
    });
</script>
{% endblock %}
